doctype html
html(lang="en")
    head
        title Realtime Chat com Node.js, Express e Socket.io
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
        link(rel='stylesheet', href='chat.css')

        script(src='https://code.jquery.com/jquery-1.11.0.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='chat.js')

    body
        div.container#main
            div.page-header
                h1 Realtime Chat com Node.js, Express e Socket.io


            div#form-nickname.center-block.text-center
                h3 Choose a name
                form
                    div.form-group
                        input(type='text')#nickname.form-control(placeholder="Nickname...")    
                    button.btn.btn-primary#go-chat Go chat


            div#chat
                div.panel.panel-default
                    div.panel-body
                        div#chat-container

                div.row
                    form.form-chat
                        div.form-group.col-md-11
                            input(type='text')#message.form-control(placeholder="message ...")
                        button.btn.btn-primary#submit Send
                    
                div.row
                p Online user(s): 
                        span.online-users
