doctype html

html(lang="en")
    head
        title DHL eCom Support - Chat Line
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css')
        link(rel='stylesheet', href='chat.css')

        script(src='https://code.jquery.com/jquery-1.11.0.min.js')
        script(src='//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.js')
        script(src='/socket.io/socket.io.js')
        script(src='nicescroll.js')
        script(src='underscore.js')
        script(src='chat.js')

    body.bkimg

      div.container
        div#links.row
          .col-md-12
            .btn-group.btn-group-sm.pull-right
              a.btn.btn-danger.dropdown-toggle(data-toggle='dropdown') Links 
                span.caret
              |               
              ul.dropdown-menu(role='menu')
                li
                  a(href='https://www.fastsupport.com/', target='_blank') Suporte Remoto 
                li
                  a(href='http://www.dhl.pt/', target='_blank') Site DHL 


        div.container
                                          
            div#form-nickname.row
                div.text-center.col-sm-12.col-md-6.col-md-offset-3
                    h2 Suporte eCom via Chat
                    form
                        div.form-group
                            input(type='text')#nickname.form-control(placeholder="Digite o seu nome ...")    
                        button.btn.btn-danger#go-chat(data-loading-text="A carregar...") Iniciar conversa


            div#chat.row
                div.col-sm-12.col-md-12
                    div.panel.panel-default
                        div.panel-body
                            div#chat-container
                    div.row
                        form.form-chat.col-sm-12
                            div.form-group.col-xs-12.col-sm-10.col-lg-11
                                input(type='text')#message.form-control(placeholder="Mensagem ...")
                            button.btn.btn-danger.col-sm-2.col-lg-1#submit Enviar
                        
