#form-nickname {
  margin-top:30px;
  margin-bottom:30px;
  width:25%;
}

#form-nickname #go-chat{
  width:100%
}

#chat {
  display:none;
}

#chat-container {
  height:400px;
}
#chat-container .row {
  margin:0;
}

.nicescroll-rails {
  padding-left:23px;
}

.message {
  overflow: hidden;
  padding: 12px;
  background: #f0f0f0;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);

  float:left;
}
.message.me {
  color:#fff;
  background:#0085fe;
  text-align:right;

  float:right;
}

#submit {
  width:83px;
}
